@font-face {
  font-family: Segment7;
  src: url(/ui/common/Segment7Standard.otf);
}

body {
  margin: 0;
  padding-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Segment7;
  font-size: 35px;
  overflow: hidden;
  background-image: url(/vehicles/n370z/textures/gauges/n370z_display_background.png);
}

.gauge {
  width: 100%;
}

.gear {
  width: 15%;
  margin-top: 23px;
  margin-left: 380px;
  color: #FF0000;
  font-size: 72px;
  font-variant: narrow;
  text-align: center;
}

.mode {
  width: 15%;
  margin-top: 25px;
  margin-left: 376px;
  color: #FF0000;
  font-size: 65px;
  font-variant: narrow;
  text-align: center;
}

.time {
  width: 24%;
  margin-top: 25px;
  margin-left: 374px;
  color: #FF0000;
  font-size: 45px;
  font-variant: narrow;
  text-align: center;
}

#fuel {
	width: 330px;
	height: 22px;
	position: absolute;
	top: 16px;
	z-index: 1;
	background-color: red;
}

#temp {
	width: 330px;
	height: 22px;
	position: absolute;
	top: 54px;
	z-index: 1;
	background-color: red;
}